// colors
$mainColor: #272727;
$secondaryColor: #494949;
$thirdlyColor: #fff;
$activeColor: #8A8A8A;

// breakpoints
$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px
);