.switcher {
    display: flex;

    height: 80%;

    & img:nth-child(1) {
        margin-right: 10px;
    }

    @media screen and (max-width: 600px) {
        height: 50%;

        & img:nth-child(1) {
            margin-right: 5px;
        }
    }
}

.flag {
    cursor: pointer;
    transition: 0.5s all;

    &:hover {
      transform: scale(1.07);
    }
}