.switcher {
    display: flex;

    width: 122px;
    height: 56px;

    & img:nth-child(1) {
        margin-right: 10px;
    }

    @media screen and (max-width: 600px) {
        width: 75px;
        height: 35px;

        & img:nth-child(1) {
            margin-right: 5px;
        }
    }
}

.flag {
    cursor: pointer;
    transition: 0.5s all;

    &:hover {
      transform: scale(1.07);
    }
}