.card {
    display: flex;
    flex-direction: column;

    width: 200px;
    height: 140px;

    background-color: #FFFFFF;

    margin-right: 10px;

    border-radius: 16px;
}

.weather_icon {
    align-self: center;

    width: 65px;
    height: 65px;

    margin-top: 15px;

    & img {
        width: 100%;
        height: 100%;
    }
}